.btn {
    background-color: #222;
    color:#fff;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    color: #ffbb33;
}